.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200vh;
  background-image: url('https://articles-img.sftcdn.net/image/upload/v1582490627/espacio_la_tierra_4_yzvwuq.jpg');
  background-size: cover;
  padding: 0;
  
  
  
}

.countryContainer {
  
  align-items: center;
  margin-bottom: 5vh;
  padding: 5vh 0;
  justify-content: space-around;
  transition:all .7s ease-in-out;
  display: flex;
  flex-wrap: wrap;
}

.btnContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  border-radius: 5px;
  gap: 20px;
  margin-top: 2px;
}

.btn {
  height: 70%;
  width: 50%;
  background-color: #f3f1ed;
  border: 1px solid #776c62;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  
}

.btn:first-of-type {
  border-right: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #776c62;
  color: #f3f1ed;
  border: 1px solid #f3f1ed;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #f3f1ed;
}