.navbar {
    display: flex;
    width: 100%;
    height: 10vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(23, 24, 33, 0.421);
    /* background-image: url('https://articles-img.sftcdn.net/image/upload/v1582490627/espacio_la_tierra_4_yzvwuq.jpg'); */
    background-position: center;
    z-index: 0;
  }
  
  .navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    z-index: -1;
    border-bottom: 1px solid #776c62;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-radius: 6px;
  }
  
  .earth {
    color:#f3f1ed;
  }
  
  .earth:hover {
    cursor: pointer;
    /* text-decoration: underline; */
  }

  .earth:hover {
    cursor: pointer;
   
  }
  
  .byana {
    font-size: 1.7rem;
    color: #f3f1ed;
  }

 
  
  .filterContainer {
    height: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-color: black;
    border-radius: 6px;
    gap: 20px;
  }
  
  .filter {
    height: 80%;
    width: 32%;
    background-color: #f3f1ed;
    border: 1px solid #f3f1ed;
    padding: 5px;
    cursor: pointer;
    border-color: black;
    border-radius: 5px;
    justify-content: space-around;
  }
  
  .filter:last-of-type {
    width: 28%;
  }

  .filter:hover {
    cursor: pointer;
    background-color: #776c62;
    color: #f3f1ed;
    border: 1px solid #f3f1ed;
  }